header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4))
    url("./images/skyline_hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  letter-spacing: 0%;
  text-align: center;
}
h2 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
}
h3 {
  font-family: poppins;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  text-align: center;
}
